@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900&display=swap');

body {
    background-color: #000000;
}
.conteudo {
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', sans-serif;
}

.informacoes {
    width: 80%;
    max-width: 900px;
    margin-top: 20px;
}

.item {
    margin-bottom: 15px;
    border: 2px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

h3 {
    width: 100%;
    padding: 15px;
    background-color: #430202;
    color: white;
    font-size: 16px;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
}

h3:hover {
    background-color: #963a3a;
}

p {
    padding: 15px;
    background-color: #64202076;
    color: white;
    font-size: 14px;
}
