@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
margin: 0;
padding: 0;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: 'Merriweather', serif;
}
.servicos {
    padding: 40px 4%;
}

.conteudo {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.cards-servicos {
    width: 65%;
    border-radius: 20px;
    border: solid 2px #fff;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #dbb8b8b1;
    color: rgb(255, 255, 255);
}
.cards-servicos:hover {
    background-color: #350404;
    transform: scale(1.01);
    transition: all 0.8s ease-out;
    box-shadow: 0px 4px 100px 20px rgba(222, 214, 214, 0.5);
}

.cards-servicos img {
    width: 50%;
    display: block;
    margin: 0 auto 15px;
}

h2 {
    margin: 45px 0;
    padding: 0;
    font-size: 45px;
}